<app-markdown-renderer [md]="'card'"></app-markdown-renderer>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Sample Header</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut omnis cum ipsum obcaecati earum ad quasi at cumque ratione odit alias quo, aliquam quidem ex tempora dignissimos labore, voluptatem itaque.
    Quia mollitia at laudantium officia sit eius, quod placeat nesciunt expedita perspiciatis fugit necessitatibus voluptatibus illo. Temporibus consequuntur, molestias cupiditate deserunt corporis ea accusantium perspiciatis minus architecto totam tempora magnam!
    Cupiditate perferendis, nesciunt sit enim eveniet nam nulla modi blanditiis consequuntur officiis ut minima quas animi harum sed quia culpa, ipsum minus dicta nihil tenetur unde cumque aliquam corrupti. Distinctio!
    Esse ullam eligendi illum reiciendis, velit explicabo repellat dolorem quos expedita sunt fugiat cumque perspiciatis tenetur tempora? Delectus quam tenetur, quia soluta, et eaque corporis minima voluptatem aut, vero quos?
    Culpa provident officia ipsam, velit facilis totam laboriosam esse placeat, ducimus distinctio doloribus. Adipisci, veniam repellendus. Dolores nam praesentium doloremque dicta fugit deleniti, distinctio adipisci voluptatum id. Sequi, soluta tempora?
  </mat-card-content>
</mat-card>