//theme for custom component
@mixin ux-spilt-theme($theme) {
    .split-title {
      mat-toolbar {
        background-color: var(--color-primary);
        color: var(--color-fg);
      }
    }
    .split-main {
      background-color: var(--color-bg);
    }
    .split-sidebar {
      background-color: var(--color-fg);
    }
  }
  @include ux-spilt-theme($theme);