mat-card {
  margin-top: var(--gap-small);
}

mat-card-content {
  margin: 0px;
  padding: 5px 0;
}

mat-form-field {
  width: 100%;
}

.list {
  background: var(--color-primary);
  min-height: 60px;
}

.box {
  padding: var(--gap-small);
  border-bottom: solid 1px #ccc;
  color: var(--color--fg);
  cursor: move;
  background: var(--color-accent);
  font-size: 1rem;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
