@use '@angular/material' as mat;

@import "mat-theme.scss";

.list {
  background: var(--color-primary);
  min-height: 60px;
}

.box {
  padding: var(--gap-small);
  border-bottom: solid 1px #ccc;
  color: var(--color-fg);
  cursor: move;
  background:  var(--color-accent);
  font-size: 1rem;
}
