@import 'theme.scss';

.navbar {
  height: 10vh;
}

.sidebar {
  background-color: mat-color($app-primary, 200);
  width: 240px;
  padding: 1rem;
}

.main {
  width: 80vw;
}

.mainrow {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.workbench {
  min-width: 80%;
  height: 100%;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.loginsplash {
  height: 100vh;
}

div.login,
div.register {
  width: 90% !important;
}
