@use '@angular/material' as mat;
@import 'theme.scss';

.navbar {
  height: 10vh;
}

.sidebar {
  background-color: var(--color-primary);
  width: 240px;
  padding: 1rem;
}

.main {
  width: 80vw;
}

.mainrow {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.workbench {
  min-width: 80%;
  height: 100%;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
