/* You can add global styles to this file, and also import other style files */

.jumbotron {
    margin-bottom:1rem; 
}

form {
    padding:1rem;
}

.form-group-min-width {
    min-width: 20rem;
}

.form-group-no-bottom-margin {
    margin-bottom: 0rem;
}