.demorow{
    cursor: pointer;
    border-bottom: 1px solid var(--color-accent);
    height: 40px !important;
}

.mat-stroked-button{
    height: 30px;    
}

.mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // this is the parent span angular inserts for icon inside mat-fab
  ::ng-deep.mat-fab .mat-button-wrapper {
    display: flex !important;
    justify-content: center !important;
  }