<mat-card>
  <mat-card-header>
    <mat-card-title>Sample Text</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed laborum iste
    itaque beatae accusamus facilis quae molestias fugiat alias repudiandae!
    Placeat nam cumque incidunt ut neque corporis deserunt eius delectus!
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-raised-button (click)="openPopup()" color="accent">
      Open Popup
    </button>
  </mat-card-actions>
</mat-card>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sample Text</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed laborum iste
      itaque beatae accusamus facilis quae molestias fugiat alias repudiandae!
      Placeat nam cumque incidunt ut neque corporis deserunt eius delectus!
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button (click)="openPopup()" color="accent">
        Open Popup
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Sample Text</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed laborum iste
    itaque beatae accusamus facilis quae molestias fugiat alias repudiandae!
    Placeat nam cumque incidunt ut neque corporis deserunt eius delectus!
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="openPopup()" color="accent">
      Open Popup
    </button>
  </mat-card-actions>
</mat-card>
