.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 220px;
  background-color: var(--color-fg);
}

.mat-drawer-container {
  background-color: var(--color-clear);
  color: var(--color-darkfont);
}


.menu {
  margin: 0 var(--gap-small);
}

button {
  width: 100%;
  margin: var(--gap-small) 0;
}
