//Provides theme funcitonality
@use '@angular/material' as mat;
@import '@angular/material/theming';
//Mixin for common material styles
@include mat.core();

//Pick colors here: https://material.io/resources/color/
$primary: mat.define-palette(mat.$brown-palette, 400);
$accent: mat.define-palette(mat.$grey-palette, 400);
$warn: mat.define-palette(mat.$red-palette);
$fg: mat.define-palette(mat.$grey-palette, 100);
$bg: mat.define-palette(mat.$blue-grey-palette, 100);

//Build theme
$theme: mat.define-light-theme($primary, $accent, $warn);
//Include theme
@include angular-material-theme($theme);

//Export global vars from design system for easy use
:root {
  --color-primary: #{mat-color($primary)};
  --color-accent: #{mat-color($accent)};
  --color-warn: #{mat-color($warn)};
  --color-fg: #{mat-color($fg)};
  --color-bg: #{mat-color($bg)};

  --gap-small: 0.5rem;
  --gap-medium: 0.8rem;
  --gap-big: 1.1rem;
  --toolbar-xl: 85px;
  --toolbar-big: 70px;
  --toolbar-medium: 40px;
  --toolbar-small: 35px;
  --font-small: 0.9rem;
  --font-medium: 1.2rem;
  --font-big: 1.4rem;
}