<form
  [formGroup]="registerForm"
  (ngSubmit)="registerUser(registerForm)"
  #form="ngForm"
>
  <mat-card>
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Register Form - global</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Email Address"
          id="username"
          formControlName="email"
        />
        <mat-error *ngIf="registerForm.get('email')?.errors != undefined"
          >Keine oder ungültige E-Mail-Adresse
        </mat-error>
      </mat-form-field>

        <mat-form-field fxFlexFill>
          <input
            type="password"
            matInput
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <mat-error
            *ngIf="registerForm.get('password')?.errors != undefined"
            >Min 4 Zeichen
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlexFill>
          <input
            type="password"
            matInput
            placeholder="Re-Enter Password"
            formControlName="passwordRepeat"
          />
        </mat-form-field>
        <!-- form is coming from the local ref on top. Is has some props that the FormGroup does not have -->
        <mat-error *ngIf="(registerForm.controls.passwordRepeat.dirty || form.submitted) && registerForm.errors'passwordMismatch'">
          Password does not match
        </mat-error>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button type="submit" color="primary" >
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</form>
