<mat-card>
  <mat-card-header>
    <mat-card-title>Mock Markdown Editor</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <app-comments-list
      [Comments]="comments | async"
      (onCommentEdit)="editComment($event)"
      (onCommentDelete)="deleteComment($event)"
      *ngIf="!editorEdit"
    ></app-comments-list>
    <app-comment-edit [comment]="current" *ngIf="editorEdit && current != null">
    </app-comment-edit>
  </mat-card-content>

  <mat-card-actions align="end">
    <ng-container *ngIf="editorEdit">
      <button mat-raised-button (click)="saveComment()" color="primary">
        Save
      </button>
      <button
        mat-raised-button
        (click)="editorEdit = !editorEdit"
        color="primary"
      >
        Cancel
      </button>
    </ng-container>
    <ng-container *ngIf="!editorEdit">
      <button mat-raised-button (click)="addComment()" color="primary">
        Add
      </button>
    </ng-container>    
  </mat-card-actions>
</mat-card>
