.mat-mdc-card-actions {
    padding: var(--gap-medium) !important;
    margin-left: var(--gap-medium) !important;
    margin-right: 0px !important;
    margin-bottom: var(--gap-medium) !important;
}

button{
  margin: 0 0.5rem ;
}
