<app-markdown-renderer [md]="'multi-guard'"></app-markdown-renderer>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['members']" color="primary" >Members</button>
    <button mat-raised-button [routerLink]="['prime']" color="primary" >Prime Members</button>
  </mat-card-actions>
</mat-card>

<ng-container>
  <router-outlet></router-outlet>
</ng-container>
