<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Watch console for output </mat-card-title>
  </mat-card-header>

  <mat-card-content
    fxLayout="row wrap"
    fxLayoutAlign="space-between start"
    class="cmdItems"
  >
    <button mat-raised-button color="accent" (click)="copySpread()">
      Shallow Clone
    </button>
    <button mat-raised-button color="accent" (click)="deepCloning()">
      Deep Cloning
    </button>
    <button mat-raised-button color="accent" (click)="impureFunction()">
      Impure
    </button>
    <button mat-raised-button color="accent" (click)="pureFunction()">
      Pure
    </button>
    <button mat-raised-button color="accent" (click)="useDestructuring()">
      Destructuring
    </button>
  </mat-card-content>
</mat-card>
