<app-markdown-renderer [md]="'viewchild'"></app-markdown-renderer>
<mat-card>
    <mat-card-header>
        <mat-card-title>ViewChild</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" >
        <div fxLayout="row" class="row" fxLayoutAlign="space-between">
            <label>Enter liters:</label>
            <input type="number" (blur)="calculateCost()" value="10" #liters #input>
        </div>
        <div fxLayout="row" class="row" fxLayoutAlign="space-between">
            <label>Cost:</label>
            <input type="number" #cost #input>
        </div>
    </mat-card-content>  
</mat-card>
